@font-face {
  font-family: "HelveticaMail";
  src:
    url("https://raw.githubusercontent.com/maximiliankiepe/lif_font/main/helveticaneue.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/maximiliankiepe/lif_font/main/helveticaneue.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
